.container {
  text-align: center;
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.image-block {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.form-block {
  display: flex;
  justify-content: center;
}

.form {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  text-align: center;
}
