<h1 class="title">Gallery</h1>
<div class="container form-block">
  <input (input)="getPasswordInput($event)" name="Password" placeholder="Password"/>
  <button (click)="checkPassword()">Show form</button>
</div>

<form class="form" *ngIf="showForm" (submit)="addImage()">
  <label>Image title <input name="title" [(ngModel)]="title"></label>
  <label>Image URL <input name="url" [(ngModel)]="url"></label>
  <button  class="btnAddImage">Add Image</button>
</form>

<div class="container image-block">
  <app-card *ngFor="let card of content" [title]="card.title" [image]="card.url"></app-card>
</div>
