<div class="container">
  <button (click)="getNewArrayNumbers()"><b>Get Random numbers</b></button>
  <hr>
  <div class="numbers-block">
    <app-element *ngFor="let oneNumber of numbers" [number]="oneNumber"></app-element>
  </div>
</div>
